    <div class="navi" data-magellan-expedition>
        <ul >
            <li class="hasatip" data-width="210" title="Til&nbsp;forsiden"><a href="/"><i class="icon-home"></i></a></li>

            <li class="hide-for-small" style="width:80px;"></li>

            <li class="hasatip" data-width="210" title="Datalogi"><a href="/datalogi"><i class="icon-qrcode"></i></a></li>
            <li class="hasatip" data-width="210" title="Blog"><a href="/blog"><i class="icon-bullhorn"></i></a></li>
        </ul>
    </div>
