<section class="row" id="home">

	<div class="five columns home-left">
		<div id="home-photo"></div>
	</div>

	<div class="seven columns home-right">
		<div id="home-text">
			<div id="home-social-container">
				<ul id="home-social">
					<li><a target="_blank" href="https://github.com/bufas"><i class="icon-github"></i></a></li>
					<li><a target="_blank" href="https://twitter.com/bufas7"><i class="icon-twitter"></i></a></li>
					<li><a target="_blank" href="http://dk.linkedin.com/pub/mathias-bak/2b/349/8a0"><i class="icon-linkedin"></i></a></li>
				</ul>
			</div>

			<h3 class="bold" >MATHIAS BAK BERTELSEN</h3>
			<h4 >Freelance Webudvilker</h4>
			<hr class="highlight-hr" />
			<h5 class="text-left"><i class="icon-envelope">&nbsp;</i>mail@mathiasbak.dk</h5>
			<h5 class="text-left"><i class="icon-twitter">&nbsp;</i>@bufas7</h5>

		</div>

	</div>

</section><!-- end of Home -->
