<!DOCTYPE html>

<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js no-touch" lang="en"> <!--<![endif]-->

{% include header.html %}

<body>
	
	<a id="home-nav"></a>
	<div class="navi" data-magellan-expedition>
		<ul >
			<li data-magellan-arrival='home' class="hasatip" data-width="210" title="Home"><a href="#home-nav" class="scroll"><i class="icon-home"></i></a></li>
			<li data-magellan-arrival='resume' class="hasatip" data-width="210" title="Resume"><a href="#resume-nav" class="scroll"><i class="icon-reorder"></i></a></li>
			<li data-magellan-arrival='projects' class="hasatip" data-width="210" title="Projects"><a href="#projects-nav" class="scroll"><i class="icon-eye-open" ></i></a></li>
		</ul>
	</div>

	<div class="row">
		<div class="twelve columns" id="main-container">
			
			{% include profile_box.html %}
			
			<section class="row page" id="profile" data-magellan-destination='profile'>
				
				<div class="twelve columns">
					<h5 class="page-heading">{{ page.title }}</h5>
					<hr />
				</div>
				
				<div class="twelve columns">

					This is something!

				</div>
				
			</section><!-- end of Post -->
			
			{% include javascript.html %}
			
	</body>
<html>
