---
title: sometitle
---

<!DOCTYPE html>

<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js no-touch" lang="en"> <!--<![endif]-->

{% include header.html %}

<body>
	
	{% include navigation.html %}

	<div class="row">
		<div class="twelve columns" id="main-container">
			
			{% include profile_box.html %}
			
			{% for post in site.posts %}
			<section class="row page">
				
				<div class="twelve columns">
					<h5 class="page-heading">{{ post.title }}</h5>

					<p class="post-excerpt">{{ post.excerpt }}</p>

					<div class="twelve columns text-right">
						<a href="{{ post.url }}" class="label contact-detail"><i class="icon-chevron-right">&nbsp;</i>Read the whole post</a>
					</div>
				</div>
				
			</section><!-- end of Post -->
			{% endfor %}
			
			{% include javascript.html %}
			
	</body>
<html>
