---
title: sometitle
---

<!DOCTYPE html>

<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js no-touch" lang="en"> <!--<![endif]-->

{% include header.html %}

<body>
	
	<a id="home-nav"></a>
	<div class="navi" data-magellan-expedition>
		<ul >
			<li data-magellan-arrival='home' class="hasatip" data-width="210" title="Home"><a href="#home-nav" class="scroll"><i class="icon-home"></i></a></li>
			<li data-magellan-arrival='resume' class="hasatip" data-width="210" title="Resume"><a href="#resume-nav" class="scroll"><i class="icon-reorder"></i></a></li>
			<li data-magellan-arrival='projects' class="hasatip" data-width="210" title="Projects"><a href="#projects-nav" class="scroll"><i class="icon-eye-open" ></i></a></li>
		</ul>
	</div>

	<div class="row">
		<div class="twelve columns" id="main-container">
			
			{% include profile_box.html %}
			
			{% for post in site.posts %}
			<section class="row page">
				
				<div class="twelve columns">
					<h5 class="page-heading">{{ post.title }}</h5>

					<p class="post-excerpt">{{ post.excerpt }}</p>

					<div class="twelve columns text-right">
						<a href="{{ post.url }}" class="label contact-detail"><i class="icon-chevron-right">&nbsp;</i>Read the whole post</a>
					</div>
				</div>
				
			</section><!-- end of Post -->
			{% endfor %}
			
			{% include javascript.html %}
			
	</body>
<html>
