<!DOCTYPE html>

<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js no-touch" lang="en"> <!--<![endif]-->

{% include header.html %}

<body>
	
	{% include navigation.html %}

	<div class="row">
		<div class="twelve columns" id="main-container">
			
			{% include profile_box.html %}
			
			<section class="row page" id="profile" data-magellan-destination='profile'>
				
				<div class="twelve columns">
					<h5 class="page-heading">{{ page.title }}</h5>
					<hr />
				</div>
				
				<div class="twelve columns blog-content">

					{{ content }}

				</div>
				
			</section><!-- end of Post -->
			
			{% include javascript.html %}
			
	</body>
<html>
